@import '../../../index.module.scss';

.creator__container {
  background-color: $black-color;
  padding-bottom: 135px;

  .creator__single {
    background-color: $black-color;
    @include flex-container;
    align-items: flex-start;
    gap: 128px;

    .creator__left {
      .creatorLeftImage {
        width: 640px;
        height: 800px;
        border-radius: 16px;
      }
    }

    .creator__right {
      width: 100%;
      max-width: 352px;
      height: 752px;

      .right__block {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .rightBlockTop {
          margin-bottom: 40px;

          .rightTitle {
            @include text-style($text-color: $white-color,
              $fz: 64px,
              $lh: 64px,
              $fw: 700);

          }

          .rightTopBottom {
            margin-top: 20px;
            @include flex-container;

            .rightBlockBotomLeft {
              @include flex-container;

              .userAvatar {
                width: 40px;
                height: 40px;
              }

              .rightBlockUserInfo {
                margin-left: 8px;

                .rightBlockUserTitle {
                  @include single-text($text-singleColor,
                    $fnt-size,
                    $ln-height,
                    $fnt-weight );
                  font-family: $font-family-alt;
                }

                .rightBlockUser {
                  @include text-style($text-color: $white-color,
                    $fz: 14px,
                    $lh: 24px,
                    $fw: 500);
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 100px;
                  display: block;
                  font-family: $font-family-alt;
                }
              }
            }

            .rightBlockBotomRight {
              @include flex-container;

              .cryptoImage {
                width: 40px;
                height: 40px;
              }

              .rightBlockPriceInfo {
                margin-left: 8px;

                .rightBlockPriceTitle {
                  @include single-text($text-singleColor,
                    $fnt-size,
                    $ln-height,
                    $fnt-weight );
                  font-family: $font-family-alt;
                }

                .rightBlockPrice {
                  @include text-style($text-color: $white-color,
                    $fz: 14px,
                    $lh: 24px,
                    $fw: 500);
                  font-family: $font-family-alt;
                }
              }
            }
          }
        }

        .rightBlockInfo {
          background-color: $slate-gray;
          width: 352px;
          height: 296px;
          border-radius: 24px;
          padding: 32px 61px;
          margin-bottom: 40px;

          .rightBlockInfoTop {
            @include flex-container;
            flex-direction: column;
            margin-bottom: 24px;

            .rightBlockInfoBid {
              @include text-style($text-color: $white-color,
                $fz: 16px,
                $lh: 24px,
                $fw: 500);
              font-family: $font-family-main;
            }

            .rightBlockInfoEtn {
              @include text-style($text-color: $white-color,
                $fz: 48px,
                $lh: 56px,
                $fw: 700);
              font-family: $font-family-alt;
            }

            .rightBlockInfoPrice {
              @include text-style($text-color: $muted-blue,
                $fz: 24px,
                $lh: 32px,
                $fw: 600);
              font-family: $font-family-alt;
            }
          }

          .rightBlockInfoBottom {
            .rightBlockInfoAuction {
              text-align: center;
              @include text-style($text-color: $white-color,
                $fz: 16px,
                $lh: 24px,
                $fw: 500);
              font-family: $font-family-alt;
            }

            .rightBlockInfoBottomHours {
              @include flex-container;
              margin-top: 8px;

              .rightBlockInfoHour {
                .rightBlockInfoNumber {
                  @include text-style($text-color: $white-color,
                    $fz: 32px,
                    $lh: 40px,
                    $fw: 700);
                }

                .rightBlockInfoHrs {
                  @include text-style($text-color: $white-color,
                    $fz: 16px,
                    $lh: 24px,
                    $fw: 500);
                  font-family: $font-family-alt;
                }
              }
            }
          }
        }

        .rightBlockBottom {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 40px;

          @include text-style($text-color: $white-color,
            $fz: 16px,
            $lh: 16px,
            $fw: 700);

          .rightBlockBottomButon {
            @include button($btn-color: $white-color,
              $bg-color: $blue-color,
              $br-radius: 90px,
              $cursor: pointer);
            padding: 16px 0;
            color: $white-color;
            border: none;
            margin-bottom: 8px;

            &:hover {
              background-color: #2e61d8;
            }
          }

          .rightBlockBottomButonDefault {
            @include button($btn-color: $white-color,
              $bg-color: $black-color,
              $br-radius: 90px,
              $cursor: pointer);
            padding: 16px 0;
            border: 2px solid $muted-blue;
            background-color: $black-color;
            text-decoration: none;
            text-align: center;

            &:hover {
              transition: 0.3s ease-in-out;
              background-color: $muted-blue;
              color: $white-color;
            }
          }
        }

        .rightBlockBottomPagination {
          gap: 10px;
          display: flex;

          .leftBlockBottomButon {
            background: transparent;
            border: none;
            cursor: pointer;
          }

          .rightBlockBottomButon {
            background: transparent;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}